<li>
	{{chore_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{chore_done}}">
		{{#if chore_done}} Eat This Burger Up!
		{{else}} Ate That Burger UP!{{/if}}
	</button>
	<button class="delete-burger" data-id="{{id}}">
		DELELTE This Burger
	</button>
</li>